{:lib com.xadecimal/expose-api
 :version "0.2.0"
 :description "A Clojure library to automatically generate public API namespaces by wrapping and exposing functions and macros from implementation namespaces."
 :licenses [{:name "MIT License"
             :url "https://github.com/xadecimal/expose-api/blob/main/LICENSE"}]
 :documents [{:file "README.md"
              :match ":deps \\{com\\.xadecimal\\/expose-api"
              :action :replace
              :keep-indent? true
              :text "{:deps {com.xadecimal/expose-api {:mvn/version \"{{version}}\"}}}"}
             {:file "README.md"
              :match "\\[com\\.xadecimal\\/expose-api"
              :action :replace
              :keep-indent? true
              :text "[com.xadecimal/expose-api \"{{version}}\"]"}]}
